<settings>
    <profiles>
		<profile>
		      <id>central</id>
		      <!--Override the repository (and pluginRepository) "central" from the
		         Maven Super POM -->
		      <repositories>
		        <repository>
		          <id>central</id>
		          <url>http://repo1.maven.org/maven2</url>
		          <releases>
		            <enabled>true</enabled>
		          </releases>
		        </repository>
		      </repositories>
		      <pluginRepositories>
		        <pluginRepository>
		          <id>central</id>
		          <url>http://repo1.maven.org/maven2</url>
		          <releases>
		            <enabled>true</enabled>
		          </releases>
		        </pluginRepository>
		      </pluginRepositories>
		    </profile>
        <profile>
            <id>easemob-kefu</id>
            <repositories>
                <repository>
                    <id>easemob-central</id>
                    <name>Easemob Maven Central</name>
                    <url>http://hk.nexus.op.easemob.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>easemob-releases</id>
                    <name>Easemob Maven Release</name>
                    <url>http://hk.nexus.op.easemob.com/nexus/content/repositories/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>easemob-snapshots</id>
                    <name>Easemob Maven Snapshot</name>
                    <url>http://hk.nexus.op.easemob.com/nexus/content/repositories/snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>


            </repositories>
            <pluginRepositories>

                <pluginRepository>
                    <id>easemob-plugins</id>
                    <name>Easemob Maven Plugin</name>
                    <url>http://hk.nexus.op.easemob.com/nexus/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>spring</id>
            <repositories>
                <repository>
                    <id>spring-snapshots</id>
                    <url>http://repo.spring.io/snapshot</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>spring-milestones</id>
                    <url>http://repo.spring.io/milestone</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>spring-snapshots</id>
                    <url>http://repo.spring.io/snapshot</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>spring-milestones</id>
                    <url>http://repo.spring.io/milestone</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
		
    </profiles>
    <activeProfiles>
		<activeProfile>central</activeProfile>
        <activeProfile>easemob-kefu</activeProfile>
        <activeProfile>spring</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>easemob-central</id>
            <username>ci-deploy</username>
            <password>{Ny3qz1vgHzwHIivKjW4eaGDxlOv6I8ExqCubVUEWE+o=}</password>
        </server>
        <server>
            <id>easemob-releases</id>
            <username>ci-deploy</username>
            <password>{Ny3qz1vgHzwHIivKjW4eaGDxlOv6I8ExqCubVUEWE+o=}</password>
        </server>
        <server>
            <id>easemob-snapshots</id>
            <username>ci-deploy</username>
            <password>{Ny3qz1vgHzwHIivKjW4eaGDxlOv6I8ExqCubVUEWE+o=}</password>
        </server>
        <server>
            <id>docker-hub</id>
            <username>${env.DOCKER_REGISTRY_USERNAME}</username>
            <password>${env.DOCKER_REGISTRY_PASSWORD}</password>
            <configuration>
                <email>stliu@easemob.com</email>
            </configuration>
        </server>
    </servers>
</settings>
